``{{ segment_name }}``
{{ '#' * (4 + segment_name|length) }}

Plots
=====

{% for file_path in graph_paths %}
.. image:: {{ file_path }}
{% endfor %}

Maps
====

TO BE COMPLETED

Tables
======

{% for file_path in table_paths %}
.. csv-table::
   :file: {{ file_path }}
   :header-rows: 1
   :align: right
{% endfor %}